@use '@/styles/variables.scss' as *;

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  height: 100vh;

  .illustration {
    width: 300px;
    border-radius: $border-radius;
  }

  .content {
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 5px;
    }
    .desc {
      margin-bottom: 10px;
      text-align: center;
    }
    .link {
      text-align: center;
      color: $accent-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
